node_modules/
*.local

taskiah-53c29-firebase-adminsdk-43twl-80aa86f054.json
.env
.env.dev
.env.staging
.env.prod
.env.example.development
.env.example.production
.env.dev.bak
.env.prod.bak
.env.staging.bak