<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384215534259-h1gres32281oqp2kbv3mtmjpqvp81dhj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384215534259-h1gres32281oqp2kbv3mtmjpqvp81dhj</string>
	<key>API_KEY</key>
	<string>AIzaSyAQUwYHkiFQ2SEyCzG3kNrPxqZfch73_PY</string>
	<key>GCM_SENDER_ID</key>
	<string>384215534259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taskiah.mobileApp</string>
	<key>PROJECT_ID</key>
	<string>taskiah-53c29</string>
	<key>STORAGE_BUCKET</key>
	<string>taskiah-53c29.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384215534259:ios:483cdac28f583df1047ec6</string>
</dict>
</plist>